{% extends 'base.html.twig' %}

{% block title %}Participer index{% endblock %}

{% block body %}
    <h1>Participer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participer in participers %}
            <tr>
                <td>{{ participer.id }}</td>
                <td>
                    <a href="{{ path('participer_show', {'id': participer.id}) }}">show</a>
                    <a href="{{ path('participer_edit', {'id': participer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('participer_new') }}">Create new</a>
{% endblock %}
