{% extends 'base.html.twig' %}

{% block title %}New Participer{% endblock %}

{% block body %}
    <h1>Create new Participer</h1>

    {{ include('participer/_form.html.twig') }}

    <a href="{{ path('participer_index') }}">back to list</a>
{% endblock %}
